<div class="container">
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
              <!-- <div class="card shadow-2-strong card-registration" style="border-radius: 15px;"> -->
                <div class="card-body p-4 p-md-5">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center entete ">Inscription</h3>
                  <form>
      
                    <div class="row">
                      <div class="col-md-6 mb-4">
      
                        <div class="form-outline">
                            <label class="form-label" for="firstName">Nom</label>
                          <input type="text" id="firstName" class="form-control form-control-lg champ" placeholder="Enter votre nom" /> 
                        </div>
      
                      </div>
                      <div class="col-md-6 mb-4">
      
                        <div class="form-outline">
                            <label class="form-label" for="lastName">Prénom</label>
                          <input type="text" id="lastName" class="form-control form-control-lg champ" placeholder="Enter votre prenom"  />
                        </div>
      
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4">
        
                          <div class="form-outline">
                            <label class="form-label" for="phoneNumber">Télephone</label>
                            <input type="tel" id="phoneNumber" class="form-control form-control-lg champ" placeholder="Enter votre numéro " /> 
                          </div>
        
                        </div>
                        <div class="col-md-6 mb-4">
        
                          <div class="form-outline">
                            <label class="form-label" for="emailAddress">Email</label>
                            <input type="email" id="emailAddress" class="form-control form-control-lg champ" placeholder="Enter votre email"  />
                          </div>
        
                        </div>
                      </div>
        
      
                   
      
                    <!-- <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
      
                        <div class="form-outline">
                            <label class="form-label" for="phoneNumber">Télephone</label>
                          <input type="tel" id="phoneNumber" class="form-control form-control-lg" /> 
                        </div>
                        <div class="col-md-6 mb-4 pb-2">
      
                            <div class="form-outline">
                             <label class="form-label" for="emailAddress">Email</label>
                              <input type="email" id="emailAddress" class="form-control form-control-lg" />
                            
                            </div>
          
                          </div>
      
                      </div>
                    </div> -->
      
      
                    <div class="mt-4 pt-2 text-center">
                        <button type="button" class="btn btnins  btn-lg"
                        >S'inscrire</button>
                        <p class="small fw-bold mt-2 pt-1 mb-0 text-center">Avez vous déjà un compte ?  <a href="#!"
                            class="link">Connexion</a></p>
                     
             </div>
                    
      
                  </form>
                </div>
              </div>
            </div>
          </div>
        <!-- </div> -->
      </section>
</div>
